<div class="list-of-seasons">
  <div *ngFor="let season of seasons">
    <h2
      class="episode-title"
      [ngClass]="{ 'selected-season': season.number === showedSeason }"
      (click)="showSeason(season.number)"
    >
      Season {{ season.number }}
    </h2>
    <div class="Episodes-list">
      <div *ngIf="season.number == showedSeason">
        <ul>
          <li *ngFor="let episode of season.episodes">
            <p>{{ episode.title }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
