.Episodes-list{
margin-left: 50px;
}

.list-of-seasons{
    margin-left: 50px;
}
.episode-title:hover{
    padding-left:20px ;
    cursor: pointer;
}
.selected-season{
    text-align: center;
    color: #197f17;
}
li{
    font-weight: 600;
    padding: 5px;
}
ul{
    list-style: disc;
}
