ul {
  display: flex;
  justify-content: space-evenly;
  padding-right:50px ;
}
ul li {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: white;
  box-shadow: 7px 12px 10px #00000045;
  display: flex;
  justify-content: space-between;
  max-height: 60px;
}
.hamburger {
  display: none;
  padding: 15px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

li a {
  font-size: 15px;
  font-weight: 600;
  color: black;
}

li a:hover {
  font-size: 18px;
  color: rgb(12, 68, 45);
}

.container {
  padding: 2em;
  min-height: calc(100vh - 4rem - 4rem - 3rem);
}
.container div {
  margin-left: 2em;
}
h1 {
  width: fit-content;
}
@media (max-width: 700px) {
  h1 {
    margin: auto;
  }
}
li a img {
  height: 25px;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  border-top: 5px solid lightgray;
  background-color: white;
  width: 100%;
  font-weight: 600;
}
.general-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}
.logo {
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.logo img {
  height: 30px;
}
.logo a {
  height: 30px;
  align-self: center;
}

@media (max-width: 900px) {
  ul {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    top:3.5em;
    padding: 0 !important;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  ul.active {
    left: 0;
    border-radius: 0;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    box-shadow: 7px 12px 10px #00000045;
  }
  li a:hover {
    font-size: 15px;
    color: rgb(12, 68, 45);
    text-align: center;
  }
  li:hover{
    background-color: #d3d3d342;;
  }
  li  {
    width: 100%;
    font-size: 15px;
    color: rgb(12, 68, 45);
    justify-content: center;
    padding: 0 !important;
    
  }
  li a{
    width: 100%;
    padding: 20px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
