<nav>
  <ul>
    <li>
      <a routerLink="/dashboard"><img src="assets/unnamed.png" /></a>
    </li>
    <li><a routerLink="./dashboard">Dashboard</a></li>
    <li><a routerLink="./characters">Characters</a></li>
    <li><a routerLink="./episodes">Episodes</a></li>
    <li><a routerLink="./quotes">Quotes</a></li>
  </ul>
</nav>
<div class="container">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<footer >
  <div class="general-info">
    <p >Characters: 62</p>
    <p >Episodes: 102</p>
    <p >Quotes: 70</p>
    <p >Death Count: 271</p>
  </div>
 
</footer>
