<nav>
  <div class="logo">
  <a routerLink="/dashboard"><img src="assets/unnamed.png" /></a>
</div>
  <ul (window:resize)="onResize($event)">
    <li (click)="toggleActive()"><a routerLink="./dashboard"><p>Dashboard</p></a></li>
    <li (click)="toggleActive()"><a routerLink="./characters"><p>Characters</p></a></li>
    <li (click)="toggleActive()"><a routerLink="./episodes"><p>Episodes</p></a></li>
    <li (click)="toggleActive()"><a routerLink="./quotes"><p>Quotes</p></a></li>
  </ul>
  <div (click)="mobileMenu()" class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div>
</nav>
<div class="container">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<footer >
  <div class="general-info">
    <p >Characters: 62</p>
    <p >Episodes: 102</p>
    <p >Quotes: 70</p>
    <p >Death Count: 271</p>
  </div>
 
</footer>
