<div class="search-container">
  <input class="search-box" type="text" placeholder="Search..." name="Search"> 
</div>
<h1 class="title">Characters List:</h1>
<div class="character-list-container" *ngIf="charactersList.length > 0">
  
  <div class="character-list">
    <div  *ngFor="let character of charactersList">
      <character-component [character]="character"></character-component>
    </div>
  </div>
</div>
<img
  *ngIf="charactersList.length == 0"
  class="loading-gif"
  src="assets/loading.gif"
/>
